<p id="notice"><%= notice %></p>
<div class="container panel panel-default">
  <div class="row panel-body">
    <h1 class="col-xs-10"><%= @article.title %></h1>
    <div class="col-xs-10"><%= markdown.render(@article.body).html_safe %></div>
    <p class="form-control-static">
      <strong class="col-xs-2">Published:</strong>
      <div class="col-xs-10"><%= @article.published %></div>
    </p>
    <p class="form-control-static">
      <strong class="col-xs-2">Author:</strong>
      <div class="col-xs-10"><%= @article.author_id %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Publish by:</strong>
      <div class="col-xs-10"><%= @article.publish_by %></div>
    </p>
  </div>
</div>
