<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to new_article_path, class: 'btn btn-default pull-right' do %>
        <i class="fa fa-plus-circle"></i> New Article
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <% @articles.each do |article| %>
        <%# article.published %>
        <%# article.publish_by %>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h1><%= article.title %></h1>
          </div>
          <div class="col-xs-12 col-sm-4 pull-right">
            <span><%= link_to 'Show', article %> </span>
            <span><%= link_to 'Edit', edit_article_path(article) %> </span>
            <span><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> </span>
          </div>
          <div class="col-xs-12">
            <small><%= article.author %></small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= article.body %>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
