<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to new_article_path, class: 'btn btn-default pull-right' do %>
        <i class="fa fa-plus-circle"></i> New Article
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <% @articles.each do |article| %>
        <%# article.published %>
        <%# article.publish_by %>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h1><%= article.title %></h1>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to article do %><i class="fa fa-file"></i><% end %>
                <%= link_to edit_article_path(article) do %><i class="fa fa-pencil"></i><% end %>
                <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash"></i><% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <small><%= article.author.name %></small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <%= markdown.render(article.body).html_safe %>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
