<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <p class="form-control-static">
      <strong class="col-xs-2">Title:</strong>
      <div class="col-xs-10"><%= @article.title %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Stub:</strong>
      <div class="col-xs-10"><%= @article.stub %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Body:</strong>
      <div class="col-xs-10"><%= markdown.render(@article.body).html_safe %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Landing:</strong>
      <div class="col-xs-10"><%= @article.landing.id %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Published:</strong>
      <div class="col-xs-10"><%= @article.published %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Author:</strong>
      <div class="col-xs-10"><%= @article.author_id %></div>
    </p>

    <p class="form-control-static">
      <strong class="col-xs-2">Publish by:</strong>
      <div class="col-xs-10"><%= @article.publish_by %></div>
    </p>
    <div class="pull-right">
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %> |
      <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
