<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <div class="text-center">
        <h2><%= @talk.title %></h2>
        <!-- 4:3 aspect ratio -->
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @talk.video %>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <p>
          <%= @talk.description %>
        </p>
      </div>
      <div class="col-xs-12">
        <%= render partial: 'shared/speaker_bio', locals: { speaker: @talk.speaker } %>
      </div>
    </div>
  </div>
</div>
