
      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">
        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-md-6">
                  <!-- <div class="footer-content" display="none">
                    <h2 class="title text-default">RSVP</h2>
                    <div class="separator-2 mt-10"></div>
                    <p>Fugiat similique corrupti quas natus, suscipit commodi. Vitae doloremque.</p>
                    <div class="alert alert-success hidden" id="MessageSent">
                      We have received your message, thank you!
                    </div>
                    <div class="alert alert-danger hidden" id="MessageNotSent">
                      Oops! Something went wrong please refresh the page and try again.
                    </div>
                    <div class="contact-form">
                      <form id="rsvp" class="margin-clear" role="form">
                        <div class="form-group has-feedback">
                          <label class="sr-only" for="name">Name*</label>
                          <input type="text" placeholder="Name" class="form-control" id="name" name="name">
                          <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="sr-only" for="email">Email*</label>
                          <input type="email" placeholder="Email" class="form-control" id="email" name="email">
                          <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                          <label class="sr-only" for="guests">No of Guests*</label>
                          <input type="text" placeholder="No of Guests" class="form-control" id="guests" name="guests">
                          <i class="fa fa-users form-control-feedback"></i>
                        </div>
                        <div class="form-group">
                          <label class="sr-only">Event*</label>
                          <select class="form-control" id="events">
                            <option value="Vows">Options</option>
                            <option value="Wedding">No meal</option>
                            <option value="Party">Meal</option>
                          </select>
                        </div>
                        <input type="submit" value="Send" class="submit-button btn btn-default">
                      </form>
                    </div>
                  </div> -->
                  <div class="footer-content">
                    <h2 class="title text-default">Get your tickets for our next event ASAP!</h2>
                    <div class="separator-2 mt-10"></div>
                      <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=26485331339&ref=etckt" frameborder="0" height="247" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd ; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/l/registration-online/">Powered by Eventbrite</a></div></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="footer-content">
                    <h2 class="title text-default">RYx: Dream Global, Empower Local</h2>
                    <div class="mt-10 separator-2"></div>
                    <p>Inspired by TEDx, Magellan is thrilled to announce that they’ve launched RYx, a monthly speaker and networking series devoted to spreading ideas in the form of short, dynamic talks.</p>
                    <p>At the inaugural event ­ RYxValencia ­ five Remotes stepped on the stage to passionately share their expertise and spark conversation around the theme BEGINNINGS, discussing everything from sustainable travel to how to gracefully be terminated from a job to what makes a story remarkable.
                    </p>
                    <p>The events are 100% supported by the Magellan ecosystem and they look forward to creating a turnkey program for all of Remote Year to launch in their respective communities.</p>

                    <div class="clients-container">
                      <div class="clients">
                        <!-- <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                          <a href="#"><%= image_tag "assets/client-1.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                          <a href="#"><%= image_tag "assets/client-2.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                          <a href="#"><%= image_tag "assets/client-3.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                          <a href="#"><%= image_tag "assets/client-4.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                          <a href="#"><%= image_tag "assets/client-5.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
                          <a href="#"><%= image_tag "assets/client-6.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                          <a href="#"><%= image_tag "assets/client-7.png", alt:"" %></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
                          <a href="#"><%= image_tag "assets/client-8.png", alt:"" %></a>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2016 This is a project by <a target="_blank" href="#">RYxMagellan</a>. All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->
      </footer>
      <!-- footer end -->

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;key=AIzaSyA_en74RGVTBfmb_mZsBIrgWTcKb94aNlA"></script>
