<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-2">
    <%= image_tag image_path("#{speaker.image_url}_avy.jpg"), alt:"" %>
  </div>
  <div class="col-xs-8 col-sm-9 col-md-2">
    <h3 class="logo-font"><%= speaker.name %></h3>
    <ul class="social-links circle animated-effect-1">
      <% unless speaker.facebook.blank? %>
      <li class="facebook"><a target="_blank" href="https://www.facebook.com/<%= speaker.facebook %>"><i class="fa fa-facebook"></i></a></li>
      <% end %>
      <% unless speaker.twitter.blank? %>
      <li class="twitter"><a target="_blank" href="https://www.twitter.com/<%= speaker.twitter %>"><i class="fa fa-twitter"></i></a></li>
      <% end %>
      <% unless speaker.linkedin.blank? %>
      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/<%= speaker.linkedin %>"><i class="fa fa-linkedin"></i></a></li>
      <% end %>
      <% unless speaker.instagram.blank? %>
      <li class="instagram"><a target="_blank" href="https://www.instagram.com/<%= speaker.instagram %>"><i class="fa fa-instagram"></i></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="v-sm-offset-2 v-md-offset-4">
      <div class="separator-1"></div>
        <p><%= speaker.bio %></p>
      <div class="separator-1"></div>
    </div>
  </div>
</div>
