        <div class="container">
          <div class="row">
            <h2 class="text-center text-muted logo-font">Photo <span class="text-default">Gallery</span></h2>
            <div class="separator"></div>
            <p class="lead text-center">Please enjoy the photos from the inaugrual RYx event in Valencia, Spain</p>
          </div>
          <!-- isotope filters start -->
          <div class="filters text-center">
            <ul class="nav nav-pills">
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".speakers">Speakers</a></li>
              <li><a href="#" data-filter=".audience">Audience</a></li>
            </ul>
          </div>
          <!-- isotope filters end -->
        </div>
        <div class="isotope-container row grid-space-0">
          <div class="col-sm-6 col-md-3 isotope-item the-bride">
            <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators top">
                <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-portfolio" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="image-box text-center">
                    <div class="overlay-container overlay-visible">
                      <%= image_tag image_path("valencia/event/inaugural_crew.jpg"), alt:"" %>
                      <a href="<%= asset_path 'valencia/event/inaugural_crew.jpg' %>" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                      <div class="overlay-bottom hidden-xs">
                        <div class="text">
                          <p class="lead margin-clear">The inaugural staff and speakers</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image-box text-center">
                    <div class="overlay-container overlay-visible">
                      <%= image_tag image_path("valencia/event/valencia_speakers.jpg"), alt:"" %>
                      <a href="<%= asset_path 'valencia/event/valencia_speakers.jpg' %>" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                      <div class="overlay-bottom hidden-xs">
                        <div class="text">
                          <p class="lead margin-clear">The inaugural speakers</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%
            { path: 'valencia/event/',
              audience: ['audience_1.jpg','audience_2.jpg','audience_3.jpg','audience_4.jpg','audience_5.jpg'],
              speakers: ['speaker_casey.jpg', 'speaker_casey_2.jpg','speaker_elodie.jpg','speaker_pam.jpg','speaker_patrick.jpg','speaker_patrick_2.jpg','staff_speaker.jpg']
            }

            assets = { path: 'lisbon/event/',
              audience: ['audience_1.jpg','audience_2.jpg','audience_3.jpg','pregame_1.jpg','after_1.jpg','after_2.jpg'],
              speakers: ['speaker_1.jpg','speaker_2.jpg','speaker_3.jpg','speaker_4.jpg','speaker_5.jpg','improv_1.jpg','improv_2.jpg','improv_3.jpg']
            }

            num = Random.new
            gallery_images = []
            ['audience','speakers'].cycle(4) do |css|
              length = assets[css.to_sym].length
              image = assets[css.to_sym].slice!(num.rand(length))
              gallery_images << ["#{assets[:path]}#{image}", css]
            end
          %>

        <% 7.times do |index| %>
          <%= render partial: 'landings/home/slide', locals: { image: gallery_images[index] } %>
        <% end %>
        </div>

