
      <!-- banner start -->
      <!-- ================ -->
      <div class="pv-40 dark-translucent-bg" style="background-image: url(/assets/wedding-banner.jpg);background-position: 50% 32%;">
        <div class="container pv-40">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-40">
              <div class="object-non-visible pv-40" data-animation-effect="fadeIn" data-effect-delay="100">
                <h1 class="page-title text-center logo-font">We’re Getting Married.</h1>
                <div class="separator"></div>
                <h3 class="text-center"><em>July 19th 2017, Santorini, Greece</em></h3>
                <!-- countdown start -->
                <div class="countdown clearfix"></div>
                <!-- countdown end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center logo-font text-muted">Groom &amp; <span class="text-default">Bride</span></h2>
              <div class="separator"></div>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <%= render 'home/speakers %>

      <!-- section start -->
      <!-- ================ -->
      <!-- <section class="full-width-section"> -->
        <!-- <div class="full-image-container default-bg"> -->
          <!-- <%= image_tag "/assets/wedding-bride.jpg", alt:"", class:"to-right-block" %>
          <div class="full-image-overlay text-center">
            <h3>Yes <i class="fa fa-heart"></i></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ab provident consequuntur, dolores perferendis! Quae asperiores rerum aperiam doloribus nostrum. Dolorem sint a fuga pariatur. Non, voluptatibus culpa ullam animi.</p>
            <ul class="social-links circle animated-effect-1 text-center">
              <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div> -->
        <!-- </div> -->
        <!-- <div class="full-text-container default-bg"> -->
          <!-- <h2 class="logo-font">Selen Wilson</h2>
          <div class="separator-2 visible-lg"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
          <div class="separator-3 visible-lg"></div> -->
        <!-- </div> -->
      <!-- </section> -->
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <!-- <section class="full-width-section"> -->
        <!-- <div class="full-text-container left light-gray-bg border-clear text-right"> -->
          <!-- <h2 class="logo-font">William Smith</h2>
          <div class="separator-3 visible-lg"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
          <div class="separator-2 visible-lg"></div> -->
        <!-- </div> -->
        <!-- <div class="full-image-container light-gray-bg border-clear"> -->
          <!-- <%= image_tag "/assets/wedding-groom.jpg", alt:"" %>
          <div class="full-image-overlay text-center">
            <h3>My <i class="fa fa-heart"></i> Is Yours</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ab provident consequuntur, dolores perferendis! Quae asperiores rerum aperiam doloribus nostrum. Dolorem sint a fuga pariatur. Non, voluptatibus culpa ullam animi.</p>
            <ul class="social-links circle animated-effect-1 text-center">
              <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div> -->
        <!-- </div> -->
      <!-- </section> -->
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="pv-30 clearfix">
        <div class="container">
          <div class="row">
            <h2 class="text-center text-muted logo-font">Photo <span class="text-default">Gallery</span></h2>
            <div class="separator"></div>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <!-- isotope filters start -->
          <div class="filters text-center">
            <ul class="nav nav-pills">
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".the-bride">The Bride</a></li>
              <li><a href="#" data-filter=".wedding">Wedding</a></li>
            </ul>
          </div>
          <!-- isotope filters end -->
        </div>
        <div class="isotope-container row grid-space-0">
          <div class="col-sm-6 col-md-3 isotope-item the-bride">
            <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators top">
                <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-portfolio" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="image-box text-center">
                    <div class="overlay-container overlay-visible">
                      <%= image_tag "/assets/wedding-gallery-1.jpg", alt:"" %>
                      <a href="/assets/wedding-gallery-1.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                      <div class="overlay-bottom hidden-xs">
                        <div class="text">
                          <p class="lead margin-clear">Go For A Ride</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="image-box text-center">
                    <div class="overlay-container overlay-visible">
                      <%= image_tag "/assets/wedding-gallery-1-2.jpg", alt:"" %>
                      <a href="/assets/wedding-gallery-1-2.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                      <div class="overlay-bottom hidden-xs">
                        <div class="text">
                          <p class="lead margin-clear">Walk On The Beach</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item wedding">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-2.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-2.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Flowers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item wedding">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-3.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-3.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Cake</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item the-bride">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-4.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-4.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Ring</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item wedding">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-5.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-5.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Table</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item the-bride">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-6.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-6.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Flowers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item wedding">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-7.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-7.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">Wedding Flowers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 isotope-item the-bride">
            <div class="image-box text-center">
              <div class="overlay-container overlay-visible">
                <%= image_tag "/assets/wedding-gallery-8.jpg", alt:"" %>
                <a href="/assets/wedding-gallery-8.jpg" class="popup-img overlay-link" title="image caption"><i class="fa fa-plus"></i></a>
                <div class="overlay-bottom hidden-xs">
                  <div class="text">
                    <p class="lead margin-clear">The Bride</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <h2 class="text-center space-top text-default logo-font">Events</h2>
            <div class="separator"></div>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag "/assets/wedding-event-1.jpg", alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">Exchange of Wedding Vows</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">July 19th - 2015</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag "/assets/wedding-event-2.jpg", alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">The Wedding</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">July 19th - 2015</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag "/assets/wedding-event-3.jpg", alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">After Party</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">July 19th - 2015</p>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-default text-center space-top logo-font"><span class="text-muted">The</span> Place</h3>
          <div class="separator"></div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Similique dolorum doloremque nihil.</p>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag "/assets/wedding-place-1.jpg", class:"img-thumbnail mb-20", alt:"" %>
            </div>
            <div class="col-md-6">
              <div id="map-canvas" class="small"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
