      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-image-container default-bg">
        <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/casey_profile', title: 'The Terminator: Handling termination of a job or project with grace', description: '', stub: '6W2Wd2GTqnc', config: 1 } %>
        </div>
        <div class="full-text-container default-bg">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Casey Carr-Jones', bio: 'Casey Carr-Jones is a Human Resources professional well-versed in employee relations and talent management.  Prior to joining Remote Year, she was Vice President of HR and Operations for a financial services company in Manhattan. Casey is currently freelance consulting, providing HR services to several companies with the goal of improving productivity, communication, and efficiency.  To date, Casey has terminated over 100 employees and more than 20 third-party vendors.', config: 1 } %>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-text-container left light-gray-bg border-clear text-right">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Patrick Loughan', bio: 'Patrick Loughran is a screenwriter. He previously worked in publishing for Penguin Books, and before that in journalism. He has also read lots of books about storytelling, and tried & failed to write several novels. He thinks all this qualifies him to talk about stories for 7 minutes.', config: 2 } %>
        </div>
        <div class="full-image-container light-gray-bg border-clear">
          <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/patrick_profile', description: '', title: 'What makes a story GOOD?', stub: 'nFhuGIMfjnk', config: 2 } %>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-image-container default-bg">
        <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/elodie_profile', title: 'A personal European story', description: '', stub: 'npyrIYCU-Ss', config: 1 } %>
        </div>
        <div class="full-text-container default-bg">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Elodie Joubert', bio: 'Elodie Joubert is a dual French-American citizen with a degree in Intercultural Management/Religious Mediation, and lifelong exposure to various languages and cultures. She works with international students all around the world to help their dream come true: travel to the United States to study English in full-immersion intensive programs. She speaks French, English, Spanish, German, and basic Korean.', config: 1 } %>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-text-container left light-gray-bg border-clear text-right">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Pam Welburn', bio: 'Pamela is a chartered geologist who has worked in the environmental industry for over 18 years, specialising in the redevelopment of land affected by contamination. Over the years she has worked for a number of large petroleum, chemical, pharmaceutical and manufacturing clients assessing and remediating their land.  Pamela is also a published author on ‘remediating and mitigating risk from volatile organic compound (VOC) vapours’.Pamela has travelled extensively visiting diverse countries such as India, Bhutan, Senegal, Madagascar, Bolivia and Guatemala.', config: 2 } %>
        </div>
        <div class="full-image-container light-gray-bg border-clear">
          <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/pam_profile', description: '', title: 'Sustainable Travel', stub: '', config: 2 } %>
        </div>
      </section>
      <!-- section end -->
